extends layouts/main-layout

block styles
    script(src='sessionBuilder.js')

block content
    br
    .text-center= template.name  
    br
    .container
        .row.justify-content-center
            for ex, index in template.exercises
                .card-columns.center
                    form(id= 'ajaxSend' + index action='')
                        .card(style='width: 18rem;')
                            .card-header
                                h5.card-title= ex.exerciseName
                                h6.card-subtitle.mb-2.text-muted= 'Target: ' + ex.set + ' sets'
                                h6.card-subtitle.mb-2.text-muted= 'Target: ' + ex.rep + ' reps'
                                .progress
                                    .progress-bar(role='progressbar' style='width: 0%;' aria-valuenow='0' aria-valuemin='0' aria-valuemax=ex.set)
                            .card-body
                                input(name='exerciseName' type='hidden' value= ex.exerciseName)
                                p.card-text Weight used: 
                                    input(name= 'weight' type='number' min=1)
                                p.card-text Current Set:
                                    input(name= 'set' type='number' value=1 min=1)
                                p.card-text Reps: 
                                    input(name= 'rep' type='number' value=1 min=1)
                                input.btn.btn-primary(id='saveSet' + index type='submit' value='Save Set')
                                